modules = ["web", "nodejs-14"]
run = "npm run dev"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npm start"]

[[ports]]
localPort = 3000
externalPort = 80

[workflows]
runButton = "Start PawMatch Server"

[[workflows.workflow]]
name = "Start PawMatch Server"
author = 45605508
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"
